version: '3.8'

services:
  database:
    image: postgres:15-alpine
    container_name: smartroute-db
    environment:
      - POSTGRES_DB=smartroute_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: